<!-- this file is not using -->
<!DOCTYPE html>
<html>
<head>
	<title>This is index page using template</title>
</head>
<body>
<h1>Welcome to text anatyzer. Enter your text below</h1>
<form action='/analyze' method='get'>
	<textarea name='text' style='margin: 0px; width: 952px; height: 162px;'></textarea><br>
	<input type="checkbox" name="removepunc"> Remove punc<br>
	<input type="checkbox" name="uppercase"> Upper case<br>
	<input type="checkbox" name="newlineremover"> New line<br>
	<input type="checkbox" name="charcount"> New line<br>
	<button type='submit'>Analyze text</button>
	

</form>
</body>
</html>

